[data-testid="stBaseButton-primary"] p{
    font-size: 0.8rem;
    font-weight: bolder;
}
[data-testid="stBaseButton-secondary"] p{
    font-size: 0.8rem;
    font-weight: bolder;
}
[data-testid="stPopoverButton"] p{
    font-size: 0.8rem;
    font-weight: bolder;
}
[data-testid="stSidebarNavLink"]{
    gap: 1.5rem;
    font-weight: 600;
}
[data-testid="stSidebarNavLink"] span [data-testid="stIconMaterial"]{
    font-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    color: rgb(0, 94, 124);
}
[data-testid="stHeader"] {
    background: rgba(0,0,0,0);
}