/* PART FOR STYLE OLD */
[data-testid=metric-container] {
    box-shadow: 0 0 4px #686664;
    padding: 10px;
}
[data-testid=stMainBlockContainer ] {
        padding: 0rem 5rem 10rem;
}

.plot-container>div {
    box-shadow: 0 0 2px #070505;
    padding: 5px;
    border-color: #000000;
    
   
}

div[data-testid="stExpander"] div[role="button"] p
{
    font-size: 1.2rem;
    color:rgb(0, 0, 0);
    border-color: #000000;
    color-scheme: #000000;
}
.sidebar-content {
    color: white;
}


[data-testid=stSidebar] {
    box-shadow: 2px 2px 10px rgba(15, 15, 15, 0.2);
     
}
[data-testid="stSidebarNavItems"] {
    max-height: 160px;
    overflow-y: auto; 
}
.st-key-container_sidebar_expander_show .st-key-click_expander_show .stCheckbox{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    border-bottom: 1px solid #7066c9;
}
/* Tạo khoảng cách cho mục cuối cùng */
[data-testid="stSidebarNavItems"] > li:last-child {
    margin-bottom: 15px;
}
[data-testid="stSidebarNavSeparator"]{
    border: none;
    padding-top: 0;
}

/* Đổ bóng cho stSidebarNavSeparator */
/* [data-testid="stSidebarNavSeparator"] {
    position: absolute;
    cursor: pointer;
    bottom: 0; 
    left: 0;
    right: 0;
    height: 30px; 
    box-shadow: inset 0 -15px 15px -15px rgba(0, 0, 0, 0.2); 
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='custom-svg-class' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath fill='none' d='M24 24H0V0h24v24z' opacity='.87'/%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z'/%3E%3C/svg%3E") 
        no-repeat center; 
    background-size: 16px 16px; 
    padding-bottom: 10px; 
} */
/* [data-testid="stSidebarNavSeparator"]:active {
    max-height: none;
} */

/* Hiệu ứng hover */
/* [data-testid="stSidebarNavSeparator"]:hover {
    opacity: 0.8; 
    box-shadow: inset 0 -12px 12px -10px rgba(0, 0, 0, 0.3); 
} */
.st-key-container_menu_view{
    position: fixed !important;
    top:60%;
    right:59%;
}


/* END PART FOR TYLE OLD */
[data-testid="stSidebarUserContent"] {
    padding: 0rem 1.5rem 6rem;
}

/* PROCESS RESPONSIVE */
@media (max-width: 1200px) {
    [data-testid=stMainBlockContainer] {
        padding: 0rem 3rem 8rem;
    }
}

@media (max-width: 992px) {
    [data-testid=stMainBlockContainer] {
        padding: 0rem 2rem 6rem;
    }
}

@media (max-width: 768px) {
    [data-testid=stMainBlockContainer] {
        padding: 1rem 1rem 4rem;
    }
}

@media (max-width: 576px) {
    [data-testid=stMainBlockContainer] {
        padding: 1rem 1rem 2rem;
    }
}